<ul class="list-group">
  <li class="list-group-item">
    <h3>Tandem app</h3>
    <p>Find a native speaker, who wants to practice your native language, to text chat, voice chat, or video chat with.</p>
    <p>It is available for iOS and Android(GooglePlay) devices.</p>
    <p>See: <%= link_to "http://tandem.net", "http://tandem.net", target: "_blank" %></p>
    <p>Reviews of the Tandem application:
      <ul>
        <li><%= link_to "Kerstin: Inside The Tandem Language Exchange App: A Full Review", "https://www.fluentlanguage.co.uk/blog/tandem-language-exchange-review", target:"_blank" %>
        </li>
        <li><%= link_to "Lindie Botes: How to improve accent in a language + Tandem language exchange app review!", "https://www.youtube.com/watch?v=Jz9krQR5cSk", target:"_blank" %>
        </li>
      </ul>
    </p>
  </li>
</ul>
<ul class="list-group">
  <% if false %>
  <li class="list-group-item">
  <h3>duolingo</h3>
  <p>duolingo is continually evolving.<br>
        <%= link_to "https://duolingo.com", "https://duolingo.com", target: "_blank" %><br>
  </p>
  <p>
  An excellent FAQ about duolingo is here.
        <%= link_to "Basic Rules and FAQ in Duolingo (If you're new, please read this!) - Help Center Summary", "https://forum.duolingo.com/comment/29428379/Basic-Rules-and-FAQ-in-Duolingo-If-you-re-new-please-read-this-Help-Center-Summary", target: "_blank" %><br>
  </p>
  <p>
        <%= link_to "FieryCat", "https://www.duolingo.com/FieryCat", target: "_blank" %>'s
     
        "<%= link_to "Vocab per Skill Unit for the Spanish / EN Course (159 skills)", "https://forum.duolingo.com/comment/31508369", target: "_blank" %>" duolingo forum post.
  </p>
  <p>
  For Spanish, duolingo has:
  <ul>
      <li> Normal tree
         <p> Instructions are in your native language (i.e. English)
         and duolingo teaches you Spanish.
         </p>
      <li>bilingual podcasts in Spanish
        <p>
        <%= link_to "http://podcast.duolingo.com/", "http://podcast.duolingo.com/", target: "_blank" %><br>
        </p>
      </li>
      <li>stories in Spanish
        <p> Need to be logged into duolingo.com and learning Spanish to see this.
        <%= link_to "https://stories.duolingo.com/", "https://stories.duolingo.com/", target: "_blank" %><br>
        </p>
      </li>
      <li>youtube videos
        <p> 
        <%= link_to "https://www.youtube.com/user/duolingo", "https://www.youtube.com/user/duolingo", target: "_blank" %><br>
        </p>
      </li>
      <li>Reverse tree
         <p>This may seem counter-intuitive, but it is actually very helpful.
         </p>
         <p> Instructions are in your target language (Spanish)
         and duolingo teaches you your native language (i.e. English).
         </p>
         <p>This is extremely useful, if one uses 
        <%= link_to "https://github.com/camiloaa/duolingotreeenhancer", "https://github.com/camiloaa/duolingotreeenhancer", target: "_blank" %><br>
        </p>
        <p>See this post.
        <%= link_to "https://forum.duolingo.com/comment/19654789/Userscript-Tree-Enhancer", "https://forum.duolingo.com/comment/19654789/Userscript-Tree-Enhancer", target: "_blank" %><br>
        Also do a google search for:
        <blockquote class=blockquote>
          site:forum.duolingo.com Reverse Tree Tampermonkey Camilo Tree Enhancer
        </blockquote>
        </p>
      </li>
      <li>Laddering
         <p>
           Suppose that your native language is English, and you also know German. Then you could try learning Spanish with instructions in German, or you could try learning German with instructions in Spanish.
         </p>
      </li>
      <li>Your own progress
         <p>
           There is an independent site, that has many things about your individual progress. The site is <%= link_to "https://duome.eu", "https://duome.eu", target: "_blank" %>
         </p>
         <p>To find your own progress go to:
         <br>https://duome.eu/&lt;your duolingo user name&gt;/progress
         </p>
         <p>For example, my duolingo user name is: jimoser
           <br>so I go to
           <br><%= link_to "https://duome.eu/jimoser/progress", "https://duome.eu/jimoser/progress", target: "_blank" %>
         </p>
         <p> <%= link_to "https://duome.eu/faq", "https://duome.eu/faq", target: "_blank" %> is a helpful FAQ about how duome works, but is also useful to learn how duolingo itself works. So even if you are not planning on using duome.eu, I strongly suggest looking at <%= link_to "https://duome.eu/faq", "https://duome.eu/faq", target: "_blank" %>
         </p>
         <p>By the way, if you haven't figured out why it is called duome.eu It is because it is Duo (about) Me and the website is not registered in the USA (it is not .com) but is registered in the European Union (so it is ends with eu)
         </p>
         <p>There is information about making a contribution ($1 or more) to the creator of duome at <%= link_to "https://duome.eu/patreon", "https://duome.eu/patreon", target: "_blank" %>         
         </p>
         </li>
         <li>Is duolingo down?
         <p>
         <%= link_to "status.duolingo.com", "https://status.duolingo.com/", target: "_blank" %>
         </p>
	 </li>
	 <li>Chrome browser extensions for the web version of duolingo
	   <ul>
	     <li>
         <%= link_to "Duolingo Solution Viewer", "https://chrome.google.com/webstore/detail/duolingo-solution-viewer/idffaipgnlkhfhibgnodeiogpgojcmfm", target: "_blank" %>
	     </li>
	     <li>
         <%= link_to "Duolingo Text Editor", "https://chrome.google.com/webstore/detail/duolingo-text-editor/lminlegkokddakonaglakjgailkoaeak", target: "_blank" %>
	     </li>
	     <li> <%= link_to "Duo Strength", "https://chrome.google.com/webstore/detail/duo-strength/oghbejipobmlmgfbdjmfgnnhepngcmle/reviews", target: "_blank" %>
	     </li>
	     <li> <%= link_to "Duo Direct Links", "https://github.com/liuch/duolingo-scripts", target: "_blank" %>
	     </li>
	     <li> <%= link_to "Duolingo TTS Controls", "https://chrome.google.com/webstore/detail/duolingo-tts-controls/hfgbpmknceenkbljmjlogkmhbpnbiika", target: "_blank" %>
	     </li>
	     <li> <%= link_to "Duolingo Word Bank Dnd", "https://chrome.google.com/webstore/detail/duolingo-word-bank-dnd/dfpfeeojcakkdfiglfcccdlhdfejcmkg/", target: "_blank" %>
	     </li>
	   </ul>
        </li>
      </li>
    </ul>  
    <p>
      For more information about duolingo, try searching the duolingo forums by googling:
        <blockquote class=blockquote>
          site:forum.duolingo.com what_you_are_looking_for 
    </p>
  </li>
<% end %>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Language Reactor</h3>
  <p>It is truly amazing. Formerly called Language Learning with Netflix. Now called Language Reactor.<br>
        <%= image_tag "grand_hotel.png" %><br>
        <%= link_to "https://languagereactor.com", "https://languagereactor.com", target: "_blank" %><br>
        <%= link_to "https://languagereactor.com/help/basic", "https://languagereactor.com/help/basic", target: "_blank" %><br>
        <%= link_to "https://youtu.be/pMrWX2dlGIM", "https://youtu.be/pMrWX2dlGIM", target: "_blank" %><br>
  </p>

  </li>
</ul>

<!-- anchor code not working, google: part of page is underneath the  header    -->
<a id="lingq"></a>

<ul class="list-group">
  <li class="list-group-item">
  <h3>"Learning with Text", "lingq.com" and "Learning with Short Texts"</h3> 
  <p>These three programs allow one to listen to  an article, podcast, or text and read the corresponding transcript at the same time.</p>
  <p>They also keep track of the words in the text that you already know. You can click on a word, that you don't know, and it shows you multiple definitions of the words from various online sources; you then choose the definition that fixes for the text that you are reading. Later they can test you on the words that you know. Very powerful programs. Must see in action to really understand how they works. 
    </p>
    <p>

    Discussion of all three of the above:

    <%= link_to "https://forum.duolingo.com/comment/22602158/Learning-With-Texts-free-opensource-alternative-to-Lingq", " https://forum.duolingo.com/comment/22602158/Learning-With-Texts-free-opensource-alternative-to-Lingq", target: "_blank" %><br>
    </p>
  <ul>
    <li>
      <%= link_to "http://lingq.com/", "http://lingq.com/", target: "_blank" %>
      <p> 
      Many youtube videos explain  how this program works. Be sure to look at a recent video because this program keeps changing.

      I have been using this program to learn Spanish.

      I have uploaded audio and text for my private use.

        I have also used audio and texts that are public.
      </p>
    </li>
    <li>
      <%= link_to "Learning with Text open source project", "http://lwt.sourceforge.net/", target: "_blank" %>
      <p>demo of learning with text: http://lwt.sourceforge.net/testdb/
      </p>
      <blockquote>
LWT Online Demo - try it out:
<ul>General Hints:
  <li>Do not use for productive work!!</li>
  <li>Your data may be deleted at any time by other users!!</li>
  <li>Only one LWT table set is available - the multiple table set feature has been deactivated.</li>
  <li>You may "reset" the demo by going to "Backup/Restore", and by clicking on "Install LWT Demo Database".</li>
  <li>START ONLINE DEMO (at sourceforge.net, User ID = lwt, Password = lwt)</li>
</ul>
      </blockquote>
    <p>
    This open source project is extremely well documented.
    I have it running on a virtual Linux machine. I also tried the demo.
    </p>
    </li>
    <li>
    <%= link_to "https://learningwithshorttexts.com/", "https://learningwithshorttexts.com/", target: "_blank" %><br>
      <p>
      The short texts are too short.
      </p>
    </li>
  
  </ul>
</ul>
