
<div class="blog-post">
  <h2>Learning Spanish Online</h2>
  <%= render partial: 'anylanguage', formats: :html  %>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Online Spanish Library</h3>
    <p>cervantes.es online Spanish library<br>
        <%= link_to "cervantes.es online Spanish library", "https://www.cervantes.es/bibliotecas_documentacion_espanol/biblioteca_electronica/default.htm", target: "_blank" %><br>
    </p>
    <p>
    How this is different from other libraries?
    </p>
    <p>The library has many books for people who are learning Spanish.
    </p>
    <p>One can search for those books by level: A1, A2, B1, B2, C1, C2
    </p>
    <p>
      It costs 12 euros a year, which is $14 a year.
    </p>
    <p>
    The easiest way to use the libary is  to use the <b>Libros-e Instituto Cervantes</b> app.
      <br>
      <%= link_to "Libros-e Instituto Cervantes (in Apple store)", "https://apps.apple.com/es/app/libros-e-instituto-cervantes/id1068188588", target: "_blank" %><br>
      <%= link_to "Libros-e Instituto Cervantes (in Google/Android store)", "https://play.google.com/store/apps/details?id=es.odilo.cervantes&hl=es", target: "_blank" %><br>
      <%= image_tag "cervantes_checkouts_676.png" %><br>


       
    </p>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>Podcasts to learn Spanish</h3>
    <p>Podcasts para aprender español</p>
    <ul>
      <li><h4>Hoy Hablamos</h4>
        <p>Daily podcast with transcripts from Spain. Speaks very clearly and slowly. Podcast is available from  
          <%= link_to "itunes", "https://itunes.apple.com/us/podcast/id1201483158", target: "_blank" %>,
          <%= link_to "youtube", "https://www.youtube.com/channel/UCVSSYYfjLmPo49M9rSM5qOQ", target: "_blank" %>, and
          <%= link_to "https://hoyhablamos.com/", "https://hoyhablamos.com", target: "_blank" %>.
        </p>
        <p>
          Note: <%= link_to "https://hoyhablamos.com/", "https://hoyhablamos.com", target: "_blank" %> has the transcripts.
        </p>
        <p>
          Note: <%= link_to "youtube", "https://www.youtube.com/channel/UCVSSYYfjLmPo49M9rSM5qOQ", target: "_blank" %> has the podcasts and some additional videos. Youtube also has links to the transcripts.
        </p>
        <ul>
          <li>First podcast: Presentacion del podcast diario español
            <%= link_to "https://www.hoyhablamos.com/1-presentacion-del-podcast-diario-espanol/", "https://www.hoyhablamos.com/1-presentacion-del-podcast-diario-espanol/", target: "_blank" %>
            <blockquote>
              Hola a todos, hoy presentamos el primer capítulo del podcast diario para aprender español. En este primer episodio nos centramos en explicaros de qué va todo esto y todo el contenido que vamos a crear para que podáis mejorar vuestro nivel de español. Esperamos que os guste y que podamos ayudaros a mejorar vuestro nivel de español.
             </blockquote>
          </li>
          <li>Second podcast: Aprender español escuchando
            <p>
             <%= link_to "https://www.hoyhablamos.com/aprender-espanol-escuchando-podcast/", "https://www.hoyhablamos.com/aprender-espanol-escuchando-podcast/", target: "_blank" %>
            </p>
            <blockquote>
              Aprender español es todo un reto, por eso queremos hablaros de diferentes métodos para aprender español de forma entretenida, como es aprender español escuchando podcast.

             Hoy os presentamos las ventajas y características de este método de aprendizaje de la lengua española. Seguro que muchos de vosotros ya lo estáis haciendo y, si aún no lo habéis hecho no sé a qué esperáis. ¡Es hora de aprender español escuchando podcast!
            </blockquote>
          </li>
          <li> 12. Aprender español viendo vídeos, series y películas
            <p>
             <%= link_to "https://hoyhablamos.com/12-aprender-espanol-viendo-videos-series-peliculas/", "https://hoyhablamos.com/12-aprender-espanol-viendo-videos-series-peliculas/", target: "_blank" %>
            </p>
             <blockquote>
              ¿De qué hablamos hoy? Hoy es viernes y hoy hablamos de diferentes formas de aprender español. Hoy hablamos de aprender español mediante vídeos, películas y series.
             </blockquote>
          </li>
          <li>47. Minimalismo como forma de vida
            <p>
             <%= link_to "https://www.hoyhablamos.com/47-minimalismo-forma-vida/", "https://www.hoyhablamos.com/47-minimalismo-forma-vida/", target: "_blank" %>
            </p>
             <blockquote>
Hace unos días vi un documental en Netflix titulado “Minimalismo: Un documental sobre las cosas importantes” y me gustaría comentarlo un poco con vosotros. Creo que puede ser un tema interesante.
             </blockquote>
          </li>
        </ul>
      </li>
      <li>
        <h4>Charlas Hispanas</h4>
        <p>Monday to Friday podcast with speakers from Mexico, Colombia, and Perú. Specializing in talking about Latin America in "Latin America" Spanish.  
        <%= link_to "http://www.charlashispanas.com", "http://www.charlashispanas.com", target: "_blank" %>.
        </p>
        <ul>
          <li><%= link_to "Alejandro de México", "https://charlashispanas.com/1-saludos-de-alejandro/", target: "_blank" %>
            <p>
              First podcast: ¡Saludos de Alejandro!<br>
              January 1, 2020 
              <blockquote>
                Los lunes hablaremos del tema del mes: cada mes tendrá un tema particular y durante todos los lunes de ese mes hablaremos del mismo tema. En este mes, por ejemplo, estamos hablando sobre cómo comenzar algo. ¿Tienes alguna sugerencia sobre los temas que deberíamos tratar? Compártela con nosotros.
              </blockquote>
              <blockquote>

                Los martes aprenderás sobre la cultura e historia de diferentes países de América Latina: ¿Qué tal aprender un poco sobre la deliciosa comida peruana? ¿o recorrer con historias las costas del Océano Pacífico, desde México hasta Chile? Discutiremos sobre los eventos históricos más relevantes de los países hispanos, conocerás a sus personajes más icónicos y aprenderás cosas que quizás jamás habías oído. También hablaremos de cómo es la gente de estos países, de sus gustos, preferencias y pasiones.
              </blockquote>
              <blockquote>

                Los miércoles serán los días de gramática o de expresiones, aclararemos algunas dudas sobre el uso del español en Latinoamérica, aprenderás expresiones útiles que te ayudarán a interactuar como un nativo y algunas veces resolveremos esas dudas gramaticales que no te dejan dormir.
              </blockquote>
              <blockquote>

                Los jueves daremos paso a las noticias: Como sabes, estar bien informado es fundamental en un mundo tan globalizado. Hoy en día los hechos noticiosos están al alcance de un clic, así que escucharás noticias variadas, curiosas y divertidas. Cada jueves comentaremos tres noticias ocurridas en el mundo y podrás divertirte escuchando historias increíbles.

                Y finalmente, tendremos los viernes de relajación, pues seremos mucho más flexibles y hablaremos de temas muy diversos: consejos para la vida y las relaciones sociales, información sobre los idiomas y su aprendizaje, datos curiosos y divertidos sobre el mundo hispano o sobre otros temas, temas de interés general que te ayudarán a relajarte y disfrutar de tu fin de semana. Los viernes podremos hablar de cualquier cosa realmente.
              </blockquote>
            </p>
          </li>
          <li><%= link_to "Betina de Perú", "https://charlashispanas.com/2-saludos-de-betina/", target: "_blank" %>
            <ul> 
              <li><%= link_to "44. Ocio y tiempo libre: parte 1; Betina de Perú", "https://charlashispanas.com/44-ocio-y-tiempo-libre-parte-1/", target: "_blank" %>
              <p><blockquote>tenemos Netflix y otras plataformas que nos permiten ver mucho contenido. Cuéntame, oyente, ¿cuántas horas has estado viendo la televisión y qué programa tenía toda tu atención? Yo puedo decir las series que han tenido toda mi atención y que era muy difícil para mí despegarme de la televisión; no he podido despegarme del televisor viendo “La Casa de Papel”, “Bolívar: una lucha indomable”; “La Casa de las Flores” y “La Reina del Flow”.
              </blockquote>
                </p>
              </li> 
              <li><%= link_to "49. Ocio y tiempo libre: parte 2; Betina de Perú", "https://charlashispanas.com/49-ocio-y-tiempo-libre-parte-2/", target: "_blank" %>
              <p><blockquote>
                <p>Otro juego muy interesante es el ajedrez; en lo personal, yo empecé a jugar ajedrez a los 11 años y creo que fue el único juego de mesa en que me iba relativamente bien… en el tiempo que jugaba ajedrez ganaba algunas partidas y era muy divertido.</p>
                <p>¿Sabes cuáles son las piezas más importantes de ajedrez, querido oyente? La pieza más importante es el rey, pero esta pieza solo puede avanzar una casilla, aunque lo pueda hacer en todas las direcciones… pero ¡solo una casilla! Es muy diferente a la reina que puede avanzar grandes distancias y a todas las direcciones, creo que es el único juego en donde la reina tiene un gran valor en el momento de la batalla, ya que es la pieza más poderosa y también es una de las piezas que podemos recuperar cuando llegamos a las casillas enemigas. En el ajedrez hay muchos movimientos básicos que utilizamos en nuestras estrategias; una que casi siempre usaba era el “enroque” y este movimiento trata de cambiar lugares entre la torre y el rey, claro, no lo puedes hacer al mismo tiempo; otro movimiento importante es la “coronación del peón” y este movimiento es el que les estaba comentando, es el movimiento en donde podemos recuperar a la reina y aparte de ella también podemos recuperar una torre, un alfil o un caballo. También, no olvidemos el “jaque”, es esa situación de no poder mover una pieza porque te dejan vulnerable al rey, esa jugada me encantaba porque me hacía sentir que yo dominaba todo el juego… y cuando por fin logramos ganar una partida decimos ¡jaque mate!</p>
                <p>Jugar ajedrez tiene muchísimos beneficios uno de ellos es que nos ayuda a trabajar los dos hemisferios del cerebro, mejora nuestra creatividad, potencia nuestra memoria, facilita la concentración, nos ayuda a resolver problemas y acertijos, a parte nos ayuda a mejorar nuestra capacidad lectora… tiene muchos beneficios, ya lo saben.
                </p>
                
              </blockquote>
                </p>
              </li> 
              <li><%= link_to "54. Ocio y tiempo libre: parte 3; Betina de Perú", "https://charlashispanas.com/54-ocio-y-tiempo-libre-parte-3/", target: "_blank" %>
              <p><blockquote>
                ¡Buen día a toda esta bella comunidad de Charlas Hispanas que desea aprender español! Hoy hablaremos nuevamente sobre algunas actividades que podemos realizar en nuestro tiempo de ocio, pero en este capítulo ya no serán actividades tan tranquilas, como las que ya mencionamos anteriormente… sino, otros tipos de actividades con mucha más adrenalina.
              </blockquote>
                </p>
              </li> 
            </ul>
          </li>
          <li><%= link_to "Fredo de Colombia", "https://charlashispanas.com/3-saludos-de-fredo/", target: "_blank" %>
          </li>
        </ul>
      </li>
      <li>
        <h4>Sí comprendo</h4>
        <p>Paloma García
        </p>
        <p>
        Podcast de nivel intermedio-avanzado. Entrevistas inspiradoras e historias comprensibles para favorecer una adquisición natural del español.
        </p>
        <p>
Podcast espagnol intermédiaire-avancé. Des interviews inspirants et des histoires compréhensibles pour t'aider à acquérir l'espagnol naturellement.
        </p> 
        <p>
Intermediate-advanced Spanish podcast. Inspiring interviews and comprehensible stories to help you acquire Spanish naturally.
        </p>
        <p>
        <%= link_to "https://sicomprendo.net", "https://sicomprendo.net", target: "_blank" %>
        </p>
        <p>
        <%= link_to "Apple podcast", "https://podcasts.apple.com/us/podcast/s%C3%AD-comprendo/id1463329497#:~:text=Listen%20on%20Apple-,Podcasts,-MAR%2012%2C%202023", target: "_blank" %>
        </p>
        <p>
        <%= link_to "Sí comprendo youtube channel", "https://www.youtube.com/@palomasicomprendo", target: "_blank" %>
        </p>
        <p>
        <ul>
          <li>
            <p>
            EP50. Don Quijote de La Mancha para estudiantes de español
            </p>
            <p>
            <%= link_to "https://www.sicomprendo.net/don-quijote-de-la-mancha-para-estudiantes-de-espanol/", "https://www.sicomprendo.net/don-quijote-de-la-mancha-para-estudiantes-de-espanol/", target: "_blank" %>
            </p> 
          </li>
        </ul>
          
        </p>
      </li>
      <li>
        <h4>Español Automático</h4>
        <p>Karo Martínez's weekly podcast with transcripts from Spain. Speaks very clearly and slowly. Podcast is available from  
        <%= link_to "itunes", "https://itunes.apple.com/es/podcast/espanol-automatico-podcast/id1107849049?l=en", target: "_blank" %>,
        <%= link_to "youtube", "https://www.youtube.com/channel/UCj2Gb3Zq814Fruw7Kpc5QIQ", target: "_blank" %>, and
        <%= link_to "http://www.espanolautomatico.com/todos-capitulos-podcast", "http://www.espanolautomatico.com/todos-capitulos-podcast", target: "_blank" %>.
        </p>
        <ul>
          <li><%= link_to "EspañolAutomático Podcast #161 starting at 276 seconds", "https://www.youtube.com/watch?v=oJvM4UMJn4I&t=276", target: "_blank" %>
            <p>
	      161- 9 acciones diarias que cada estudiante de español debe hacer | teach your Spanish" a partir de 276 segundos.
              <br>
	      November 18, 2019
	      <br>
	      <%= link_to "http://www.espanolautomatico.com/podcast/161", "http://www.espanolautomatico.com/podcast/161", target: "_blank" %>
              <blockquote>
		      2. Escirbir en las redes sociales en español
              </blockquote>
            </p>
          </li>
          <li><%= link_to "http://www.espanolautomatico.com/podcast/001", "http://www.espanolautomatico.com/podcast/001", target: "_blank" %>
            <p>
              First podcast: Para aprender español no importa tanto el lugar donde estás sino el método que usas<br>
              April 26, 2016
              <blockquote>
                Estoy súper emocionada de inaugurar el Español Automático Podcast.

                Me ha llevado bastante tiempo prepararlo (supongo que ya sabes que trabajo a tiempo completo, así que el podcast lo preparo en mi tiempo libre). Quería dar las gracias a todos que me han animado para seguir creando. ¡Espero que os guste el resultado!
              </blockquote>
            </p>
          </li>
          <li><%= link_to "5 días para activar tu español", "http://www.espanolautomatico.com/5dias", target: "_blank" %>
            <p>¡Curso Email Gratis!
              <blockquote>
                ¿Qué sacarás de este curso?
                <ul>
                  <li>aprenderás cómo escuchar de manera más eficaz e inteligente para acelerar tu proceso de aprendizaje de español</li>
                  <li>aprenderás cómo hacer que HABLES ESPAÑOL COMO UN NATIVO EN POCOS MESES, en vez de en años</li>
                  <li>entrenarás tu oído para entender a los nativos independientemente de la velocidad a la que hablen</li>
                  <li>aprenderás qué estrategias usé yo misma para tener resultados desde el primer día</li>
                </ul>
              </blockquote>
            </p>
          </li>
          <li><%= link_to "7 leyes para hablar español como un nativo", "http://www.espanolautomatico.com/7leyes", target: "_blank" %>
            <p>¡Curso Email Gratis!
              <blockquote>
                ¿Qué aprenderás en este curso?
                <ul>
                  <li>Cuáles son las 7 leyes para hablar español como un nativo</li>
                  <li>Cómo entender el español hablado por los nativos</li>
                  <li>El secreto para aprender a hablar español con facilidad y sin esfuerzo</li>
                  <li>Cómo superar las emociones negativas mientras aprendes español</li>
                  <li>Cómo no estresarte mientras hablas español</li>
                  <li>La solución si no tienes tiempo para estudiar español</li>
                  <li>Cómo aprender gramática española sin memorizar reglas gramaticales</li>
                  <li>Cómo aprender vocabulario de manera eficaz y no olvidarte nunca de las palabras aprendidas</li>
                </ul>
              </blockquote>
            </p>
          </li>
          <li><%= link_to "104 - 9 razones por las que aún no hablas español con fluidez I hablar español con fluidez", "https://www.youtube.com/watch?v=zMYQHkuLZv4", target: "_blank" %>
          <p>Podcast 104. 9/11/2018</p>
          <p>Announces 9/21/2018 Live Class</p>
          </li>
          <li><%= link_to "105 - Hablar español: ¿Cómo dejar de traducir en tu cabeza y empezar a pensar en español?", "https://www.youtube.com/watch?v=YigTp7M-3zE", target: "_blank" %>
          </li>
          <li><%= link_to "106 Cómo evitar que tu mente se quede en blanco cuando hablas español I hablar español", "https://www.youtube.com/watch?v=vlPt1PjhdRI", target: "_blank" %>
          <blockquote class=blockquote>
          <p>
            Hoy explicaremos una técnica gracias a la cual podrás prevenir que tu mente se quede en blanco mientras hablas español. Pero no solo te la vamos a explicar, sino que también la vamos a practicar, para que puedas probar el poder de esta técnica hoy mismo. 
            </p>  
            <p>

            Por eso hemos decidido que en el podcast de hoy, vamos a compartir contigo una de las lecciones de nuestro nuevo curso: “Piensa y habla en español:  6 meses para conseguir la fluidez si no tienes con quien practicar. El curso que te entrena para mantener conversaciones sin necesidad de traducir en tu cabeza”. ¿Listo? ¡Comenzamos!
          </p>
          </blockquote>
          </li>
          <li><%= link_to "161- 9 acciones diarias que cada estudiante de español debe hacer | teach yourself Spanish", "https://www.espanolautomatico.com/podcast/161", target: "_blank" %>
          <blockquote class=blockquote>
          <p>
	  Aprender por tu cuenta no es fácil (to teach yourself Spanish is not 
	  easy!). ¿Eres de esos alumnos que llevan estudiando español toda la vida, 
	  pero todavía no lo hablan? Por eso es vital que sepas qué tipo de hábitos 
	  de aprendizaje son los mejores para tener éxito con tu español.
          </p>
          <p>
	  Entonces, ¿qué cosas, qué acciones tienes que hacer cada día para conseguir tu 
	  objetivo de hablar español con fluidez? De esto va el vídeo de hoy. ¡Venga, 
	  comenzamos!
          </p>
          </blockquote>
          </li>
          <li><%= link_to "piensa-y-habla-en-espanol", "https://espanolautomatico.teachable.com/p/piensa-y-habla-en-espanol", target: "_blank" %>
          <p>Description of Español Automatico flagship course, "Piensa y Habla en Español aka PHE". Check out 
          <%= link_to "full sample lesson", "https://espanolautomatico.teachable.com/courses/piensa-y-habla-en-espanol/lectures/5046869", target: "_blank" %>
          </p>

          </li>
          <li><%= link_to "Todos captitulos podcast", "http://www.espanolautomatico.com/todos-capitulos-podcast", target: "_blank" %>
          </li>
        </ul>
      </li>
      <li><h4>Duolingo Podcast</h4>
        <p>Fascinating stories in easy-to-understand Spanish</p>
        <%= link_to "https://podcast.duolingo.com/", "https://podcast.duolingo.com/", target: "_blank" %>
        </p>
        <ul>
          <li>
            <p>
              Episode 1: Mi héroe, mi amigo<br>
              <%= link_to "https://podcast.duolingo.com/episode-1-the-duolingo-spanish-podcast-adc1f8c8b79e", "https://podcast.duolingo.com/episode-1-the-duolingo-spanish-podcast-adc1f8c8b79e", target: "_blank" %><br>
              <blockquote>
                In this first episode, we head to Veracruz, México to hear how Rodrigo Soberanes managed to meet his childhood hero.
              </blockquote>
            </p>
          </li>
          <li>
            <p>
              Episode 2: Sin miedo<br>
              <%= link_to "https://podcast.duolingo.com/episode-2-sin-miedo-55bd8628a9dc", "https://podcast.duolingo.com/episode-2-sin-miedo-55bd8628a9dc", target: "_blank" %><br>
              <blockquote>
                When Belén Fernández Llanos turned 28, she decided to move from Chile to Argentina with her boyfriend of ten years to start a new life together. Belén was ready for an adventure… But the one that awaited her in Buenos Aires would turn out very differently than what she had imagined.
              </blockquote>
            </p>
          </li>
        </ul>
      </li>
      <li><h4>Españolisto and Spanishland School</h4>
        <p>Two podcasts from Nat (Texas) and Andrea (Colombia)  Alger</p> 
        <p>  <%= link_to "Españolistos", "https://www.espanolistos.com/category/podcasts/", target: "_blank" %> and <%= link_to "Spanishland School", "https://spanishlandschool.com/category/podcast/", target: "_blank" %>      </p>
        <ul> <%= link_to "Españolistos", "https://www.espanolistos.com/category/podcasts/", target: "_blank" %>
          <li>
            <p>
              <%= link_to "Episodio 018 – 7 Mejores Películas en Español", "https://www.espanolistos.com/episodio-018-7-mejores-peliculas/", target: "_blank" %><br>
	    </p>
	    <p>
              <%= link_to "trailers for – 7 Mejores Películas en Español", "https://www.espanolistos.com/mejores-peliculas-en-espanol/", target: "_blank" %><br>
	        <ul>
		  <li>Toda sobre mi madre (All about my mother)
		  <p>This is Nat's favorite film.</p>
		  </li>
		  <li>El laberinto del fauno (Pan's Labyrinth)
		  </li>
		  <li>Y tú mamá también (And your mother also)
		  </li>
		  <li>No se aceptan devoluciones (Instructions not included)
		    <p>This is Andrea's favorite film.
         <%= link_to "No se aceptan devoluciones", "https://tubitv.com/movies/461203/instructions-not-included", target: "_blank" %>
		  </li>
		  <li>Amores perros (Life is a B word)
		  </li>
		  <li>Biutiful (Beautiful)
		  </li>
		  <li>Diarios de motocicleta (Motorcycle diaries)
		  </li>
		</ul>
            </p>
          </li>
          <li>
            <p>
              <%= link_to "Episodio 020 – 7 Mejores Shows en Español (7 Best Spanish TV Shows)", "https://www.espanolistos.com/7-mejores-shows/", target: "_blank" %><br>
	    </p>
	    <p>
              <%= link_to "trailers for  – 7 Mejores Shows en Español (7 Best Spanish TV Shows)", "https://www.espanolistos.com/mejores-shows-en-espanol/", target: "_blank" %><br>
	        <ul>
		  <li>Destinos
		  </li>
		  <li>Extra
		  </li>
		  <li>Isabel
		  </li>
		  <li>El Tiempo Entre Costuras
		  </li>
		  <li>Escobar, El Patrón del Mal
		  </li>
		  <li>Gran Hotel
		  </li>
		  <li>Aquí Entre Nos
		  </li>
		</ul>
            </p>
          </li>
          <li>
            <p>
              <%= link_to "Episodio 043 – Shakira: ¿Quién Es Shakira Y Como Llegó Tan Lejos?", "https://www.espanolistos.com/shakira/", target: "_blank" %><br>
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <h3>Podcasts for native Spanish speakers</h3>
    <ul>

      <li>
        <h4>El Valle de los Tercos</h4>
        <p>historias de latinos en silicon valley</p>
        <%= link_to "El Valle de los Tercos", "http://www.elvalledelostercos.com/", target: "_blank" %>
        </p>
        <ul>
          <li>
            <p>
            Rosa Jiménez Cano, Soy Silicio/El País: A la caza de los héroes hispanos de la tecnología<br>
              <%= link_to "Rosa Jiménez Cano, Soy Silicio/El País", "http://www.elvalledelostercos.com/episodios/rosa-jimenez-cano-soy-silicioel-pais-a-la-caza-de-los-heroes-hispanos-de-la-tecnologia", target: "_blank" %><br>
              <blockquote>
                Pocas personas tienen un lugar tan privilegiado como el de Rosa Jiménez Cano para observar al mundo techie. Es corresponsal en Silicon Valley del diario español El País y además acaba de lanzar su propio medio, Soy Silicio.

                Rosa busca retratar a los héroes hispanos de la tecnología porque cree que, para que haya más casos de éxito, primero tenemos que creernos capaces de triunfar. Entrevista a latinoamericanos y a españoles, porque es consciente del peso de la audiencia hispanoparlante en las Américas para un medio como el suyo. (Nos contó más de eso en el avance de la semana pasada).
              </blockquote>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h4>El Gabfest en Español</h4>
        <p>Slate El Gabfest</p>
        <%= link_to "http://www.slate.com/articles/podcasts/el_gabfest_en_espanol.html", "http://www.slate.com/articles/podcasts/el_gabfest_en_espanol.html", target: "_blank" %>
        </p>
        <ul>
          <li>
            <p>
              De Tapetes Persas y Algoritmos Peligrosos<br>
              Of Persian Mats and Hazardous Algorithms<br>
              <%= link_to "la_misi_n_de_robert_mueller_y_los_testimonios_de_facebook_en_el_capitolio", "http://www.slate.com/articles/podcasts/el_gabfest_en_espanol/2017/11/la_misi_n_de_robert_mueller_y_los_testimonios_de_facebook_en_el_capitolio.html", target: "_blank" %><br>
              <blockquote>
                Nuestro panel de periodistas se enteran de las riquezas de Paul Manafort y los peligros de las redes sociales.
              </blockquote>
              <blockquote>
               Our panel of journalists learn about the wealth of Paul Manafort and the dangers of social networks. 
              </blockquote>
            </p>
          </li>
        </ul>
      </li>
      <li>
        <h4>Radio Ambulante</p>
           <p>Podcasts from NPR (National Public Radio). Transcripts in Spanish and in English.</p>
        <%= link_to "http://radioambulante.org/", "http://radioambulante.org/", target: "_blank" %>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to "Download antennapod-feeds.opml", "/antennapod-feeds.opml" %>
    <%= render partial: 'antennapod-feeds', formats: :opml  %>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>MOOCs (Massive Open Open Courses) given in Spanish</h3>
    <ul>
        <% @moocs.each do |mooc| %>
          <li><%= link_to mooc[0], mooc[1],  target: "_blank" %></li>     
          <p><%= mooc[2] %></p>
          <% if mooc[3] != nil %>
            <ul>
              <%  mooc[3].each do |course| %>
                <li><% if course[3] != nil %>
                       <% (1..course[3]).each do %>

                         <span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden=true></span> 
                          
                       <%  end %>
                     <%  end %>
                       <%= link_to course[0], course[1], target: "_blank" %>

                   <% if course[2] != nil %>
                     <p>  <%= " #{course[2]}" %> </p>
                   <% end %>  
                </li>
                     
              <% end %>
            </ul>
          <% end %>
        <% end %>
    </ul>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
  <h3>Boston University Ext. : AP Spanish Language and Culture</h3>
    <p>Free Massive Open Online Class (MOOC)<br>
        <%= link_to "AP® Spanish Language and Culture", "https://www.edx.org/course/ap-spanish-language-and-culture", target: "_blank" %><br>
    </p>
    <p>Many people taking this class have no intention of taking the AP test. They are also much older
    </p>
    <p>People, who just want to learn Spanish are welcome in this class.
    </p>
    <p>12 week class. A new class starts every year during the second week of February. Join anytime.
    </p>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Language Transfer</h3>
  <p>Some people like this.<br>
        <%= link_to "https://www.languagetransfer.org/", "https://www.languagetransfer.org/", target: "_blank" %><br>
        <%= link_to "Language Transfer Complete Spanish", "https://www.languagetransfer.org/complete-spanish", target: "_blank" %><br>
        <%= link_to "Language Transfer on youtube", "https://www.youtube.com/channel/UCY3M77wNeopjQbL9mpSVvLg", target: "_blank" %><br>
  </p>
  <p>
    For comments about Language Transfer<br>
    google<br>
  <ul>
    <li>Spanish Language Transfer</li>
    <li>site:forum.duolingo.com Language Transfer</li> 
    <li>site:forum.duolingo.com languagetransfer</li> 
   </ul>
  </p>
  <p>Here is a sample.<br>
  Past tense.<br>
  <br>
  Track 58<br>
        <%= link_to "youtube: Complete Spanish, Track 58 - Language Transfer, The Thinking Method", "https://www.youtube.com/watch?v=uQYQmETgdgU&list=PLeA5t3dWTWvvwf5fw0Nl7mVk0OUjP1Ln2&t=0s&index=59", target: "_blank" %><br>

  Page 327 of pdf.</br>
        <%= link_to "Track 58 pdf page 327", "https://docs.wixstatic.com/ugd/b8e879_156d4546a47f46e1b3704e3e1554655a.pdf#page=327", target: "_blank" %><br>
  <blockquote class="blockquote">
        <p>
    T: We have one more time in Spanish to learn, one more verb time, and that’s the point in the past. The one that usually we would express with -ed in English: wanted, walked, or, you know, the irregular versions: ran, ate. This is the point in the past and it’s much more random than the other tenses that we looked at. The point in the past is a little bit more messy, but we will find some logic in it, just not the same one that we’ve been seeing until now. So, we will practice with hablar for –ar verbs and with comer for –er/-ir verbs, and we will use these verbs as our hooks that we can look back to when we need to remember one of these endings. So, I spoke, I spoke, is hablé, hablé.
        </p>
        <p>
    S: Hablé.
        </p>
        <p>
    T: Can you tell me what I did there then to get I spoke from to speak, from hablar?
    </p> 
    <p>
    S: You took off the –ar ending and added an /e/.
    </p>
    <p>
    T: Good. Anything else?
    </p>
    <p>

    S: Well, the accents is on the /e/.
    </p>
    <p>
    T: Perfect. Hablé. Good. So, that’s I spoke. And he/she/it or you (formal) spoke is habló, habló.
    </p>
    <p>

    S: Habló.
    </p>
  </blockquote>
    <p>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>ganas de hablar</h3>
  <p>youtube channel and wordpress blog<br>
        <%= link_to "https://ganasdehablar.com/", "https://ganasdehablar.com/", target: "_blank" %><br>
        <%= link_to "ganas de hablar on youtube", "https://www.youtube.com/channel/UC-4mzXxDL_XLnWnI8Ds5sUQ", target: "_blank" %><br>
  </p>
  <p>
  <ul>
    <li>
        <%= link_to "Blog - Ganas de hablar - presentación y objetivos", "https://www.youtube.com/watch?v=Di5yX9ySrHc", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Cómo funciona el blog Ganas de hablar", "https://www.youtube.com/watch?v=kWS_y0VLLeg", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Vocabulario: vamos a poner la mesa", "https://www.youtube.com/watch?v=FPR86vLuMqU", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Una entrevista a Gaby, una alumna mía", "https://www.youtube.com/watch?v=091Qo09IP0E", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Tres técnicas para recordar mejor las palabras nuevas", "https://www.youtube.com/watch?v=jdoGmVpW98Q", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Mejora tu español con videos gratis: Rincón de conversación", "https://www.youtube.com/watch?v=hTx9qT4dc-w", target: "_blank" %><br>
    </li>
    <li>
        <%= link_to "Pensar en español - una técnica para hablar mejor español", "https://www.youtube.com/watch?v=mi4U_0CmVcc", target: "_blank" %><br>
    </li>
    <li>
    <%= link_to "Un paseo por Buenos Aires en 2015 – una historia en indefinido", "https://ganasdehablar.com/paseo-buenos-aires-2015-una-historia-indefinido/#more-475", target: "_blank" %><br>
    <p>
      <blockquote class=blockquote>
        En este video explico brevemente el Pretérito indefinido y, a continuación, les cuento una historia en la que uso CASI exclusivamente este tiempo de verbo. Pero como es imposible usar solamente el indefinido, van a ver que yo alterno con el tiempo Presente.
      </blockquote>
    </p>
    </li>
    <li>
        <%= link_to "Todos los capítulos de Ana María", "https://ganasdehablar.com/ana_maria_indice/", target: "_blank" %><br>
        
      <blockquote class=blockquote>
        Es una historia de una chica que se llama Ana María, que es española y que con unos veinticinco años va a hacer un semestre en el extranjero en Alemania. Es una historia de 22 capítulos. Cada capítulo es una página y está leída por mí en dos diferentes versiones: una versión que es la versión corta o breve, que son más o menos tres minutos – cuatro minutos cada… cada capítulo y la segunda versión, con pausas, para poder repetir ustedes, si quieren practicar la pronunciación. Cada capítulo también está en versión PDF, para poder leer completamente a medida que escuchan o al mismo tiempo que… en que escuchan la historia.
      </blockquote>
    </li>
    <li>
        <%= link_to "Categoría: Podcast Ángela Santos", "https://ganasdehablar.com/category/podcast-angela-santos/", target: "_blank" %><br>
        
      <blockquote class=blockquote>
        En esta categoría vas a encontrar historias para escuchar. Ángela Santos es estudiante de Psicología en Buenos Aires y trabaja de taxista para ganar un poco de dinero. Sus clientes le cuentan todo tipo de historias que tú podrás escuchar aquí.
      </blockquote>
    </li>
    <li>
        <%= link_to "Cómo hablar mejor español: Más vale pájaro en mano que cien volando", "https://ganasdehablar.com/como-hablar-mejor-espanol-mas-vale-pajaro-en-mano-que-cien-volando/", target: "_blank" %><br>
        
      <blockquote class=blockquote>
        Hola a todos y bienvenidos al blog Ganas de hablar. Yo soy Cristina y hoy les traigo otra vez un vídeo con la explicación de un refrán que es muy popular en el mundo hispanohablante y esta vez el refrán es: más vale pájaro en mano que cien volando y les voy a explicar un poquito qué significa.
      </blockquote>
    </li>
    <li>
        <%= link_to "Dime con quién andas y te diré quién eres", "https://ganasdehablar.com/mejora-tu-espanol-con-videos-dime-con-quien-andas-y-te-dire-quien-eres/", target: "_blank" %><br>
    </li>
   </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>YouTube</h3> 
  <ul>
    <li>
      <%= link_to "Jim Oser's YouTube Channel", "https://www.youtube.com/user/jimoser113", target: "_blank" %>
      <p> has Spanish videos, including full length movies, interviews, and songs.
Note because of copyright laws, the movies sometimes disappear or may not be available in all countries.
Click on the above link, and then choose the Español video list.
      </p>
    </li>
    <li>
      <%= link_to "YouTube search pelicula completa en español ", "https://www.youtube.com/results?search_query=pelicula+completa+en+espa%C3%B1ol+", target: "_blank" %>
      <p>Sometimes by searching "pelicula completa en español", which means "whole film", you can find all of a Spanish movie on youtube.
Note because of copyright laws, the movies sometimes disappear or may not be available in all countries.
      </p>
    </li>
    <li>
    <%= link_to "Dreaming Spanish", "https://www.youtube.com/channel/UCouyFdE9-Lrjo3M_2idKq1A", target: "_blank" %>
      <ul>
        <li><%= link_to "Biblioburro, the library donkey - Superbeginner Spanish - Real Stories #9", "https://www.youtube.com/watch?v=SV022A8bCe8", target: "_blank" %></li>
        <li><%= link_to "The conflict between Catalonia and Spain - Beginner Spanish - Society #1", "https://www.youtube.com/watch?v=DW-qcKk4b-A", target: "_blank" %></li>
        <li><%= link_to "[Beg] Manolito Gafotas - Beginner Spanish - Books #1", "https://www.youtube.com/watch?v=np8bQxtiNzI", target: "_blank" %></li>
        <li><%= link_to "My Favorite TV Series - Beginner Spanish - Random Topics #5", "https://www.youtube.com/watch?v=iuMLYwbWY0k", target: "_blank" %></li>
        <li><%= link_to "TV Show: Cuéntame - Beginner Spanish - TV Shows #5", "https://www.youtube.com/watch?v=fciHwgwIetg", target: "_blank" %></li>
        <li><%= link_to "La Casa de Papel, Episode 1 Explained - Intermediate Spanish - TV Shows #6", "https://www.youtube.com/watch?v=jIUeHVLPZd0", target: "_blank" %></li>
        <li><%= link_to "Best TV Series for Beginners - Beginner Spanish - Language Learning #19", "https://www.youtube.com/watch?v=EWK1JBYXmQ4", target: "_blank" %></li>
        <li><%= link_to "Isabel Allende - Beginner Spanish - Rebel Women #5", "https://youtu.be/2gCik1vqXxc", target: "_blank" %></li>
      </uL>
    </li>
    <li>QVMT
    <p>Qué vida más triste</p>
    <p>I learned about this series by watching Pablo Pankun Román of <%= link_to "Dreaming Spanish", "https://www.youtube.com/channel/UCouyFdE9-Lrjo3M_2idKq1A", target: "_blank" %> review of the series. <%= link_to "The Best Spanish Web Series - Intermediate Spanish - Spanish Culture #27","https://www.youtube.com/watch?v=DAVSKj1RebY", target: "_blank" %></p>
      <ul>
        <li><%= link_to "QVMT: La dentista", "https://www.youtube.com/watch?v=8Dvy8QaUhoc", target: "_blank" %></li>
        <li><%= link_to "Popular Videos - Qué vida más triste (200 videos)", "https://www.youtube.com/playlist?list=PLHuQVbOuezUS05GFyHt-96LStWbP801l8", target: "_blank" %></li>
      </uL>
    </li>
    <li>
    <%= link_to "123 GO! Spanish", "https://www.youtube.com/channel/UCYtt2TP3sqR9_qXnc1G4eRA", target: "_blank" %><br>
    <p>Very funny short videos in Spanish. Over 2 million subscribers.
    </p> 
      <ul>
        <li>
    <%= link_to "SITUACIONES INCÓMODAS CON LAS QUE TODOS NOS IDENTIFICAMOS || Momentos graciosos y vergonzosos", "https://www.youtube.com/watch?v=R_GttyWuujo", target: "_blank" %><br>
        </li>
      </ul>
    </li>
    <li>
    <%= link_to "Extra en Español Ep 01 La llegada de Sam", "https://www.youtube.com/watch?v=Dfb9-ZTCA-E&index=1&list=PLLVULqsElvki_riI1ld0QhZJx1wom5Ply", target: "_blank" %><br>
    Sam's arrival in Spain.
    (There is also a Sam's arrival in Germany with the same plot, but that is in German.)
      <p>
      </p>
    </li>
    <li>
    <%= link_to "Butterfly Spanish YouTube Channel", "https://www.youtube.com/ButterflySpanish", target: "_blank" %><br>
    <%= link_to "Learn how to say the letters and sounds in Spanish", "https://www.youtube.com/watch?v=hsLYD1Jyf3A", target: "_blank" %><br>
    <%= link_to "Learn Spanish: Big numbers, years, dates, quantities, and money in Spanish", "https://www.youtube.com/watch?v=awswL1EMRoc", target: "_blank" %><br>
      <p>
      Butterfly Spanish, Learn Spanish with Ana<br>
    <%= link_to "Butterfly Spanish Website", "https://www.butterflyspanish.com/", target: "_blank" %><br>
      </p>
    </li>
    <li>
    <%= link_to "Spanish from Spain YouTube Channel", "https://www.youtube.com/channel/UCeseHPP6FLZppw-oz9GGeYA", target: "_    blank" %>

      <p>
        <ul>
          <li>
             <%= link_to "Las mejores series para aprender español", "https://www.youtube.com/watch?v=cNJSwUWmK7k", target: "_blank" %>   
             <ul>
               <li> Isabel
               </li>
               <li> Gran Hotel 
               </li>
               <li> Velvet 
               </li>
               <li> El tiempo entre costuras 
               </li>
               <li> El ministeno de tiempo 
               </li>
               <li> Vis a vis 
               </li>
             </ul>
          </li>
          <li>
             <%= link_to "11 locuciones verbales con películas españolas | Expresión oral | Verbos comunes", "https://www.youtube.com/watch?v=SEx7QEio-yY", target: "_blank" %>   
          </li>
          <li>
             <%= link_to "Las 10 mejores pelis españolas del 2018 | Cultura española | Cine español", "https://youtu.be/WHY5WtpM5Gg", target: "_blank" %>   
             <ul>
               <li> 
             <%= link_to "Superlópez (2018) Primer Tráiler Oficial Español", "https://youtu.be/FRNdK2zdVT4", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "La Sombra De La Ley (2018) Primer Tráiler Oficial Español", "https://youtu.be/oiosilYbQ-I", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "Quién te cantará - Trailer (HD)", "https://youtu.be/SpOjXpfxIFQ", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "El Aviso Trailer Español 2018", "https://youtu.be/yGqfj8cSncY", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "Tráiler de \'El Ministerio del Tiempo\'", "https://www.youtube.com/watch?v=23l0iEZIpMA", target: "_blank" %>   
               <p>Sé como viagar en el tiempo.</p>
               <p>Multiple seasons. Available on Netlix.</p>
               </li>
               <li> 
             <%= link_to "Campeones (2018) Primer Tráiler Oficial Español", "https://youtu.be/C0p5-b3YwIM", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "Memorias de un hombre en pijama - Trailer Oficial", "https://youtu.be/tNoRk-QCSoc", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "LA TRIBU (2018) Primer Tráiler Oficial Español", "https://youtu.be/umEai78TAPI", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "TIEMPO DESPUÉS Tráiler Español (2018) Comedia", "https://youtu.be/A-cMVCWOFOE", target: "_blank" %>   
               </li>
               <li> 
             <%= link_to "EL ÁRBOL DE LA SANGRE Tráiler Español (2018) Úrsula Corberó", "https://youtu.be/bvRzaG2XoKE", target: "_blank" %>   
               </li>
             </ul>
          </li>
        </ul>
      </p>
    </li>
    <li>
    <%= link_to "The Spanish Dude's (gringoespañol) YouTube Channel", "https://www.youtube.com/gringoespanol", target: "_blank" %><br>
      <p>
      How to learn Spanish<br>
    <%= link_to "The Spanish Dude's (gringoespañol) Website", "https://spanishdude.com/", target: "_blank" %><br>
      </p>
    </li>
    <li>
    <%= link_to "Hablamos Español 01/39 Auf dem Flughafen", "https://www.youtube.com/watch?v=A_-VWHuOPJ0", target: "_blank" %><br>
      <p>
     
      Course to learn Spanish. Originally shown on German television (BR3)<br>
      Bessere, schnellere Verkehrsverbindungen ermöglichen es immer mehr Menschen, ihre Ferien in Spanien zu verbringen. Schon deshalb ist es lohnend, Spanisch neben Englisch zu lernen. Nicht nur Touristen haben Vorteile, wenn sie Spanisch sprechen können, sondern auch für Kaufleute ist es wichtig. Carmen, José Luis und Paco sind die Lehrer des spanischen Sprachkursus. In der ersten Folge geht es um Artikel, um Mehrzahlbildung, um persönliche Fürwörter und um die Zahlen von 1 bis 10.
      </p>
    </li>
    <li>
    <%= link_to "BBC Suenos World Spanish", "https://www.youtube.com/watch?v=-enTFUv4vWg&list=PL1-gV-Koefy_GCpiO74V5DocfzYzYQqqn", target: "_blank" %><br>
      <p>
     
        Course to learn Spanish. Originally shown on British television (BBC)<br>
    <%= link_to "BBC Suenos World Spanish Transcripts", "http://www.bbc.cookies.uk/languages/spanish/suenos/tvtranscripts/", target: "_blank" %><br>
      </p>
    </li>
  </ul>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3><span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden=true></span> NPR's Destinos</h3> 
    <ul>
      <li>
        <%= link_to "Destinos", "https://www.learner.org/series/destinos-an-introduction-to-spanish/", target: "_blank" %>
        <p>Due to copyrights, <b>only available in USA and Canada</b>.</p>
        <p>Originally on PBS (Public Broadcasting Stations) such as San Francisco's KQED televison station in the 1990's. This 52 week course is available for free on the Internet. The course is taught in English.
        </p>
        <p>
        In Destinos: An Introduction to Spanish, lawyer Raquel Rodríguez travels to Spain, Argentina, Puerto Rico, and finally to Mexico, all to solve a secret from Don Fernando's past. Destinos is in conversational Spanish, with some narration in English and in Spanish. Every episode covers new grammatical concepts, vocabulary, and cultural practices, with a review at the end. As you go from episode to episode and destination to destination, the content grows more challenging. For additional review, choose a related activity in the Practice section.
       </p>
       <p>There is a textbook and workbooks, that accompany the course. You can watch the videos without using the books. Used editions of this book can be found.</p>
       <p>I have been told that some countries outside the USA may not be able to see the videos from the above weblink. If this is the case for you, then search youtube for these videos.</p>
       <p>
       <%= link_to "Destinos Lección 1 Workbook", "https://www.youtube.com/watch?v=PPb2TePTzLE", target: "_blank" %><br>
       "Destinos - An introduction to Spanish" 1st Edition: Audio lessons originally provided on cassette tape.  Leccion 1 Workbook
       </p>
       <p>
       <%= link_to "Video on Demand - Destinos: An Introduction to Spanish - 1. Unit I", "https://www.youtube.com/watch?v=-_Ex8R06kqY", target: "_blank" %><br>
       </p>
       <p> <%= link_to "Stephanie's Destinos Review: How I’m Learning Spanish With Cheesy Dialogue, Big Hair and Shoulder Pads", "http://www.tobefluent.com/2013/07/24/destinos/", target: "_blank" %><br> Great review of Destinos. Also see the comment section after the review, where people made additional comments about ways to learn Spanish.  </p>
       <p> <%= link_to "Stephanie's tobefluent.com Spanish Resources", "http://www.tobefluent.com/free-online-spanish-resources/", target: "_blank" %><br> </p>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>BBC's Mi Vida Loca: Real Spanish, Real Drama</h3> 
    <ul>
      <li>
        <%= link_to "Mi Vida Loca: Real Spanish, Real Drama", "http://www.bbc.cookies.uk/languages/spanish/mividaloca/", target: "_blank" %>
        <p>Originally on BBC (Britisch Broadcasting Company). This 12 week Spanish course is available for free on the Internet. The course is taught in English.
        </p>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>practica español</h3> 
    <ul>
      <li>
        <%= link_to "https://www.practicaespanol.com/", "https://www.practicaespanol.com/", target: "_blank" %>
        <p>Hay muchos caminos para aprender español pero solo uno para practicarlo con los contenidos informativos de  Agencia EFE,  la primera agencia de noticias del mundo, en español.  

        ¡Bienvenidos a Practica Español!
        </p>
        <p>
        Be sure to sign-up for their free daily email about world news events.<br>
        Practica Español - Practica y aprende el idioma español utilizando la actualidad informativa<br>
        <%= link_to "https://www.practicaespanol.com/en/espanol-feedburner//", "https://www.practicaespanol.com/en/espanol-feedburner/", target: "_blank" %>

        </p>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>Dictionaries</h3>
    <ul>
      <li>
      <%= link_to "https://www.deepl.com", "http://www.deepl.com", target: "_blank" %> 
      </li>
      <li>
        <%= link_to "http://www.spanishdict.com/", "http://www.spanishdict.com/", target: "_blank" %> 
      </li>
      <li>
      <%= link_to "https://www.reverso.net/", "https://www.reverso.net/", target: "_blank" %> 
      </li>
      <li>
        <%= link_to "https://www.linguee.com/english-spanish/", "https://www.linguee.com/english-spanish/", target: "_blank" %> 
      </li>
      <li>
        <%= link_to "https://es.pons.com/traducción", "https://es.pons.com/traducción", target: "_blank" %> 
        <p>This website has:
        <ul>
          <li>Spanish to other languages dictionaries</li>
          and
          <li>other languages to Spanish dictionaries</li>
         </ul>
        <p>Here are some hints about using this website.
          <ul>
            <li>In the navigation bar at the top of the website, you can set the language to: 
              <ul>
                <li>English</li>
                <li>Español</li>
                <li>Deutsch</li>
                <li>Other languages.</li>
              </ul>
            </li>  
            <li>
               In the main header, below the navigation bar, there are options for Online Dictionary:
                 <ul>
                    <li>Dictionary</li>
                      <p>As an example, try looking up the Spanish word for the English word "block"</p>
                      <p>Notice how many variations of the word "block" are found.</p>
                      <p>Also note: One can listen to both the Spanish pronunciation and Mexican pronunciation of the found translations.</p>
                    <li>Text Translation</li>
                    <li>Vocabulary trainer</li>
                 </ul>
            </li>
          </ul>
        </p>
      </li>
      <li>
        <%= link_to "https://translate.google.com/", "https://translate.google.com/", target: "_blank" %> 
      </li>
      <li>
        <p>wordreference.com
          <ul>
            <li>Dictionary
              <%= link_to "https://www.wordreference.com/", "https://www.wordreference.com/", target: "_blank" %> 
            </li>
            <li>Forum
        <%= link_to "https://forum.wordreference.com/", "https://forum.wordreference.com/", target: "_blank" %> 
            </li>
            <li>Definition of calor.
        <%= link_to "https://www.wordreference.com/es/en/translation.asp?spen=calor", "https://www.wordreference.com/es/en/translation.asp?spen=calor", target: "_blank" %> 
            </li>
          </ul> 
        </p>
      </li>
      <li>
        <%= link_to "155 Frases necesarias para una conversación en inglés", "https://genial.guru/admiracion-curiosidades/155-frases-necesarias-para-una-conversacion-en-ingles-104405/", target: "_blank" %> 
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
        <h3>Spanish Teaching Assistant</h3>
        <%= link_to "http://www.spanishta.com/", "http://www.spanishta.com/", target: "_blank" %> 
        <p>Tests your knowledge about conjugating verbs.</p>
        <p>Tests your knowledge about numbers.</p>
        <p>This website was developed by Cindy, a member of the Sebastopol Spanish meetup group.</p>
        </p>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
    <h3>Grammar checkers</h3>
    <ul>

     <li>
       <%= link_to "https://languagetool.org", "https://languagetool.org", target: "_blank" %>
     </li>
     <li>
       <%= link_to "http://spanishchecker.com", "http://spanishchecker.com", target: "_blank" %>
     </li>

   </ul>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <h3>Other great websites</h3>
      <ul>
        <li> <%= link_to "tobefluent.com", "http://www.tobefluent.com", target: "_blank" %><br>
         <p> <%= link_to "Stephanie's tobefluent.com Spanish Resources", "http://www.tobefluent.com/free-online-spanish-resources/", target: "_blank" %><br> </p>
        </li>
        <li> <%= link_to "https://senoraipock.wikispaces.com/", "https://senoraipock.wikispaces.com/", target: "_blank" %><br>
         <p>Ways to learn Spanish from high school teacher Señora Ipock<br> </p>
           <ul>
             <li>
               <%= link_to "El Amarillo Music", "http://elamarill0.blogspot.com/", target: "_blank" %>
             </li>
             <li>
               <%= link_to "Aprender español", "https://aprenderespanol.org/index.html", target: "_blank" %>
             </li>
           </ul>
        </li>
        <li>
        <%= link_to "Spanish Town (Canada)", "https://spanishtown.ca/", target: "_blank" %><br>
        <p>Spanish for kids. Short animated videos and more.</p>
        <p>
        <%= link_to "youtube channel for Spanish Town (Canada)", "https://www.youtube.com/channel/UCHaJT21JlTSsEsd2-OmCNhA", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Más arriba: Spanish Language Exercises by Gary Aitken", "http://www.trentu.ca/academic/modernlanguages/spanish/masarriba/", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "BBC Spanish Language Page", "http://www.bbc.couk/languages/spanish/", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "https://www.profedeele.es/", "https://www.profedeele.es/", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Cliff Notes Spanish I", "https://www.cliffsnotes.com/study-guides/spanish/spanish-i", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Duolingo Spanish", "https://www.duolingo.com/", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Busuu Spanish", "https://www.busuu.com/", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Fluencia", "https://www.fluencia.com/", target: "_blank" %><br>
        </p>
        <p>fluencia is made by the same people who made spanishdict.com. It is similar to duolingo. One of the advantages of fluencia is they have many audio recordings and they encourage you to talk (i.e. your microphone is activated). They also claim they have an algorithm to keep testing you, if you make a mistake.</p>
        <p>Worth looking at. First 10 lessons are free.
        </p>
        </li>
        <li>
        <p>
        <%= link_to "Synergy Spanish", "https://synergyspanish.com/", target: "_blank" %><br>
        </p>
        <p>Interesting review of Synergy Spanish.
        <%= link_to "Surespanish.club review of Synergy Spanish", "http://www.surespanish.club//", target: "_blank" %><br>
        </p>
        <p>Youtube video of 1st Synergy Spanish lesson. The lesson assumes that you don't know any Spanish. After the first minute, you have learned to say in Spanish "I want to go to Spain."
        <%= link_to "Synergy Spanish Lesson 1", "https://www.youtube.com/watch?v=BH1NL_aHr9c", target: "_blank" %><br>
        </p>


        </li>
        <li>
        <p>
        <%= link_to "News in Slow Spanish", "https://www.newsinslowspanish.com/", target: "_blank" %><br>
        <%= link_to "G.U.T.S. Latino Spanish (Get Up to Speed in Latino Spanish)", "https://www.newsinslowspanish.com/latino/get-up-to-speed", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "https://www.learnpracticalspanishonline.com", "https://www.learnpracticalspanishonline.com", target: "_blank" %><br>
        </p>
        </li>
        <li>
        <p>
        <%= link_to "https://conjuguemos.com/", "https://conjuguemos.com/", target: "_blank" %><br>
        <%= link_to "https://conjuguemos.com/about_us/", "https://conjuguemos.com/about_us/", target: "_blank" %><br>
        </p>
        <p>
        verbs, verb lessons, vocabulary, grammar, listening activities
        </p>
        <p>Where 14,000+ schools and 3.5 million users come to learn their verbs.
        </p>
        </li>
        <li>
          <p>
        <%= link_to "Why not Spanish", "https://www.whynotspanish.com/", target: "_blank" %><br> con María es de Colombia y Cody es de Estados Unidos.
          </p>
          <p>Also has a 
        <%= link_to "youtube channel", "https://www.youtube.com/channel/UCIdFcLCIJQ_YMrormG_nU8w", target: "_blank" %><br>
          </p>
          <p>
        <%= link_to "Cómo mejorar tu pronunciación en español / How to improve pronunciation in Spanish", "https://www.youtube.com/watch?v=5Gc-wvh6Gkk", target: "_blank" %><br>
          </p>
          <p>
        <%= link_to "Ejercicio de escucha en español - ¡Comida costeña en Bogotá! | Spanish Listening Activity", "https://www.youtube.com/watch?v=5AX-LEa9qgI", target: "_blank" %><br>
          </p>
        </li>
        <li>
          <p>
        <%= link_to "españolistos", "https://www.espanolistos.com/", target: "_blank" %><br> con Andrea es de Colombia y Nate es de Estados Unidos.
          </p>
          <p>Also has a 
        <%= link_to "youtube channel Spanishland School", "https://www.youtube.com/channel/UCrMqdq1osi5ECCBkia2jsNw", target: "_blank" %><br>
          </p>
          <p>
        <%= link_to "Weather In Spanish - Learn 16 Key Spanish Vocabulary And Expressions [2018]", "https://www.youtube.com/watch?v=lAS3ruUUXWw", target: "_blank" %><br>
          </p>
          <p>
        <%= link_to "7 Best Spanish Shows to Learn Spanish", "https://www.youtube.com/watch?v=PUJoWWfa8zM", target: "_blank" %><br>
          </p>
            <ul>
              <li>Destinos</li>
              <li>Extra</li>
              <li>Isabel</li>
              <li>El tiempo entre costuras</li>
              <li>Escobar, el patrón del mal</li>
              <li>Gran Hotel</li>
              <li>Mi corazón es tuyo</li>
            </ul>
        <%= link_to "7 Best Spanish Movies to Learn Spanish", "https://www.youtube.com/watch?v=GKMZ6cV9xP0", target: "_blank" %><br>
          </p>
            <ul>
              <li>Todo Sobre Mi Madre</li>
                <p>Rated R, Spain dialect, 98% on rotten tomatoes, 1999 best foreign language film </p>
              <li>El Laberinto del Fauno</li>
                <p>Rated R, Spain dialect, 95% on rotten tomatoes</p>
              <li>No Se Aceptan Devoluciones </li>
                <p>Comedy PG-13, Mexico</p>
              <li>Amores Perros</li>
                <p>Action drama, R,  Mexico</p>
              <li>Biutiful</li>
              <li>Diairios de Motocicleta</li>
                <p>Rated R, comedy, Argentinian dialect, 64% on rotten tomatoes</p>
              <li>Aquí entre nos</li>
                <p>Comedy, Mexico</p>
                <p>Not rated, family drama, Mexican dialect, 99% on rotten tomatoes</p>
            </ul>
        </li>
      </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Abla Learning</h3> 
  <p>AlbaLearning Audiolibros y libros para leer, escuchar en línea y descargar.  Castellano. Voz humana. SIN REGISTRARSE. GRATIS. Exclusivamente para uso personal.  Nuestros audiolibros NO son de Dominio Público, son propiedad de AlbaLearning.</p>
  <p>
  Spanish Audiobooks and books to read, listen along and download. Free for personal use. No registration required.
  </p>
    <%= link_to "https://albalearning.com/", "https://albalearning.com/", target: "_blank" %><br>
    </p>
  </li> 
</ul>

<ul class="list-group">
  <li class="list-group-item">
  <h3>The Web Spanish School - Teaching Spanish Online </h3> 
  <p>
    <%= link_to "https://www.webspanish.com/", "https://www.webspanish.com/", target: "_blank" %><br>
  </p>
  <ul>
    <li>
      <%= link_to "Checking in to a hotel using Spanish", "https://youtu.be/kI7gsF0pHsA", target: "_blank" %><br>
    </li> 
    <li>
      <%= link_to "Listening practice in Spanish: Tipping in Perú", "https://youtu.be/bzvMf89pEWQ", target: "_blank" %><br>
    </li> 
    <li>
      <%= link_to "Spanish for Travel. Intermediate listening practice: \"El plato típico\"", "https://youtu.be/CljTEFpi5hc", target: "_blank" %><br>
    </li> 
  </ul>
</ul>


<ul class="list-group">
  <li class="list-group-item">
    <h3>Español con Juan y 1001 Reasons to Learn Spanish</h3> 
    <ul>
      <li>
        <%= link_to "https://www.youtube.com/c/1001reasonstolearnspanishwithus", "https://www.youtube.com/c/1001reasonstolearnspanishwithus", target: "_blank" %>
        <p>
¿Hablas un poco de español? ¿Entiendes mis vídeos? Si ya hablas un poco de español y entiendes al menos el 50% - 60% de mis vídeos, este canal de YouTube es para ti. 
        </p>
        <p>
Mi objetivo es ayudarte a mejorar tu español y pasar de un nivel Preintermedio o Intermedio a un nivel Avanzado. 
        </p>
        <p>
        Sign-up for newsletter.

        <%= link_to "https://www.1001reasonstolearnspanish.com/", "https://www.1001reasonstolearnspanish.com/", target: "_blank" %>

        </p>
        <p>
        Podcasts: 
        <%= link_to "https://www.1001reasonstolearnspanish.com/podcasts/", "https://www.1001reasonstolearnspanish.com/podcasts/", target: "_blank" %>
        </p>
	<ul>
	  <li>
            <%= link_to "Cómo usar YouTube para aprender español | Tips to learn Spanish on YouTube", "https://www.youtube.com/watch?v=cbqSQ9pfaeY", target: "_blank" %>
	    
            <p>
	     En este vídeo doy algunos consejos para aprender español con vídeos de YouTube.
            </p>
	  </li>
	  <li>
            <p>
            Historia del año. One story per month. Be sure to start with January (enero). Don't use a dictionary; just listen to the story for comprehension.
            <%= link_to "https://www.youtube.com/playlist?list=PLnNH-ry7VPzGIjLYfHpNF_eFoUPS2wePY", "https://www.youtube.com/playlist?list=PLnNH-ry7VPzGIjLYfHpNF_eFoUPS2wePY", target: "_blank" %>

             After you listen, there are transcripts and excercises. Everything is free.
            </p>
	  </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Netflix series and movies</h3> 
    <ul>
      <li>Netflix series
        <ul>
          <li>La casa de las flores
            <p>
        <%= link_to "Spanish wikipedia: La_casa_de_las_flores_(serie_de_televisión)", "https://es.wikipedia.org/wiki/La_casa_de_las_flores_(serie_de_televisi%C3%B3n)", target: "_blank" %>
            
            </p>
            <p>
        <%= link_to "video: ¿Por qué Paulina de la Mora \"ha-bla a-sí\"?", "https://www.youtube.com/watch?v=Lb7w1IjyfKM", target: "_blank" %>
            
            </p>
          </li>
          <li>La casa de papel 
            <p>Great series but hard for beginners to understand. Might need to watch only in English. The English title is Money Heist.</p>
          </li>
          <li>Gran Hotel
            <p>
        <%= link_to "Spanish wikipedia: Gran Hotel (serie de televisión)", "https://es.wikipedia.org/wiki/Gran_Hotel_(serie_de_televisi%C3%B3n)", target:"_blank" %>
            
            </p>
            <p>
        <%= link_to "video: Gran Hotel - Trailer", "https://www.youtube.com/watch?v=enBnpGMSQmU", target: "_blank" %>
            
            </p>
          </li>
          <li>Merlí</li>
          <li>Velvet aka Galerías Velvet
            <p>
        <%= link_to "Spanish wikipedia: Velvet (serie de televisión)", "https://es.wikipedia.org/wiki/Velvet_(serie_de_televisi%C3%B3n)", target:"_blank" %>
            
            </p>
            <p>
        <%= link_to "video: Velvet - Trailer", "https://www.youtube.com/watch?v=n9PwIfMEeVs", target: "_blank" %>
            
            </p>
          </li>
          
        </ul>
      </li>
      <li>Netflix movies
        <ul>
        </ul>
      </li>
    </ul>
  </li> 
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Telenovelas (Soap Operas)</h3> 
    <ul>
      <li>Dos vidas | RTVE Series
      <p><%= link_to "Dos vidas", "https://www.rtve.es/play/videos/dos-vidas/", target: "_blank" %><br>
      La historia de Julia se desarrolla en la actualidad, en un pequeño y encantador pueblo cercano a Madrid; y la de Carmen tiene lugar en la exótica...
      </p>
      </li>
      <li>Ana y los siete | RTVE Series
      <p><%= link_to "Ana y los siete: 1x01 - Así empezó todo | RTVE Series", "https://www.youtube.com/watch?v=q_Yfq5s9Q7Q", target: "_blank" %><br>
         </p>
      </li>
      <li>Mi Corazón Es Tuyo  
         <p><%= link_to "Mi Corazón Es Tuyo Cap. 1", "https://www.youtube.com/watch?v=abdV5uj_VhA", target: "_blank" %><br>
         </p>
         <p>Note: DVD is availabe at Marin County Library.</p>
      </li>
      <li>Yo soy Betty, la fea  
         <p><%= link_to "YSBLF 1 [5/5] subtítulos en ingles/subtitles of english", "https://www.youtube.com/watch?v=q_Yfq5s9Q7Q", target: "_blank" %><br>
         </p>
      </li>
      <li>Verano azul | RTVE Series  
         <p><%= link_to "Verano azul: 1x01 - El encuentro | RTVE Series", "https://www.youtube.com/watch?v=uCqoga23zC4", target: "_blank" %><br>
         </p>
         <p>A review of Verano Azul by Dreaming Spanish.
          </p>
         <p><%= link_to "Verano Azul TV Series 🌊☀️ - Easy Spanish - Classic TV Shows #1", "https://www.youtube.com/watch?v=WekEN6S5-S0&t=153s", target: "_blank" %><br>
         </p>
         Songs from Verano Azul
         <ul>
           <li>
         <p><%= link_to "No mateis mi planeta, por favor - Verano Azul", "https://www.youtube.com/watch?v=fvjg8yRhe0o", target: "_blank" %><br>
         </p>
            </li>
            <li>
         <p><%= link_to "Verano Azul - No nos moverán", "https://www.youtube.com/watch?v=ekdmeSkQZM0", target: "_blank" %><br>
         </p>
            </li>
         </ul>
      </li>
      <li>Carrusel para niños (1989)
         <p><%= link_to "Carrusel telenovela - video 1", "https://www.youtube.com/watch?v=HqmqhkEowvI", target: "_blank" %><br>
         </p>
      </li>
      <li>Carrusel Nueva Generacion  
         <p><%= link_to "Carrusel Nueva Generacion - Capitulo 1 Español Latino Completo", "https://www.dailymotion.com/video/x5em6b8", target: "_blank" %><br>
         </p>
      </li>
      <li>Luz Clarita  
         <p><%= link_to "luz clarita capitulo 1", "https://www.youtube.com/watch?v=sBBFMqEtFsE", target: "_blank" %><br>
         </p>
      </li>
      <li>María la del barrio   
         <p><%= link_to "maría la del barrio capitulo 1", "https://www.youtube.com/watch?v=oGABkBIfq9o", target: "_blank" %><br>
         </p>
      </li>
      <li>Amor Real  
         <p><%= link_to "AMOR REAL CAP # 1", "https://www.youtube.com/watch?v=YNsuiUTcTC0", target: "_blank" %><br>
         </p>
      </li>
      <li>Rebelde  
         <p><%= link_to "Rebelde Capitulo 1 Completo (Primera Temporada)", "https://www.youtube.com/watch?v=9Vu0MfJNXeQ", target: "_blank" %><br>
         </p>
      </li>
      <li>Pasion de gavilanes
         <p><%= link_to "Pasion de gavilanes capitulo 1", "https://www.youtube.com/watch?v=UNVwa6zduws", target: "_blank" %><br>
         </p>
      </li>
      <li>Pedro el escamoso  
         <p><%= link_to "Pedro el Escamoso Cap 1", "https://www.youtube.com/watch?v=5ED-IXLDij4", target: "_blank" %><br>
         </p>
      </li>
      <li>Los Serrano  
         <p><%= link_to "Los Serrano 1 capítulo (Ya se han casado)", "https://www.youtube.com/watch?v=maQOknmgMSw", target: "_blank" %><br>
         </p>
      </li>
      <li>Silvana sin Lana  
         <p><%= link_to "Silvana Sin Lana | Capítulo 1 | Telemundo", "https://www.youtube.com/watch?v=OCTcCDhZMhk&list=PLlpTGFsKPu1ltGZHlC6gE4QmyPlLdexvZ", target: "_blank" %><br>
         </p>
      </li>
      <li>Pituca sin lucas  
         <p><%= link_to "Pituca sin lucas - capitulo 1 lunes 13 de octubre 2014", "https://www.youtube.com/watch?v=58yYFDsyulI", target: "_blank" %><br>
         </p>
      </li>

    </ul>
  </li> 
</ul>

<ul class="list-group">
  <li class="list-group-item">
  <h3>Magazines and Newspapers</h3> 
    <ul>
      <li>La Voz
      <p>La Mejor Revista Bilingue del Norte de California</p>
      <p>Northern California's foremost bilingual magazine</p>
      <p>All articles are in both Spanish and English. Articles are primarily about Sonoma and Marin County, but sometimes USA topics, such as the President are discussed</p>
      <p><%= link_to "La Voz", "http://www.lavoz.us.com/", target: "_blank" %><br>
         </p>
      <p>Read the latest issue of La Voz online and/or download the latest issue as a pdf: <%= link_to "La Vo online or pdf of latest issue", "http://www.lavoz.us.com/Read_La_Voz.html", target: "_blank" %><br>
         </p>
      </li>
      <li>La Prensa Sonoma 
      <p>News about Sonoma county in Spanish</p>
      <p><%= link_to "La Prensa Sonoma", "http://www.laprensasonoma.com/", target: "_blank" %><br>
         </p>
      </li>
      <li>impulso News 
      <p>IMPULSO NEWS, es el periódico Hispano de mayor cobertura en el norte de California, circula en los condados de Marin, Sonoma, Solano, Marin y Mendocino.</p>
      <p><%= link_to "Impulso News", "http://impulsonews.net/", target: "_blank" %><br>
         </p>
      </li>
      <li>el Nuevo Herald
      <p>News about Miami, Florida and the rest of the world</p>
      <p><%= link_to "el Nuevo Herald", "https://www.elnuevoherald.com/", target: "_blank" %><br>
         </p>
      </li>
      <li>El Mundo
      <p>
      <p><%= link_to "El Mundo", "https://www.elmundo.es/index.html", target: "_blank" %><br>
      </p>
      </li>
      <li>El País
      <p>
      <p><%= link_to "El País", "https://elpais.com/", target: "_blank" %><br>
      </p>
      </li>
      <li>La Razon
      <p>
      <p><%= link_to "La Razon", "https://www.larazon.es/", target: "_blank" %><br>
      </p>
      </li>
    </ul>
  </li> 
</ul>

<ul class="list-group">
  <li class="list-group-item">
  <h3>Para hablantes nativos de español</h3> 
    <ul>
      <li>
      <%= link_to "Nielsen, Perspectivas, Digital", "https://www.nielsen.com/es/es/insights/digital/", target: "_blank" %>
        <ul>
           <li>
             <%= link_to "Los españoles comen en casa seis veces al mes comida preparada del súper o del restaurante take away", "https://www.nielsen.com/es/es/insights/article/2019/spaniards-eat-at-home-six-times-month-from-supermarket-or-take-away/", target: "_blank" %>
           </li>
           <li>
             <%= link_to "Comercio Conectado: la conectividad está revolucionando el estilo de vida de los consumidores", "https://www.nielsen.com/co/es/insights/report/2018/comercio-conectado/", target: "_blank" %>
           </li>
        </ul>
      </li>
      <li>
      <%= link_to "bettervida", "http://bettervida.net/", target: "_blank" %>
      <blockquote>
        Bettervida nace con la idea de compartir experiencias vividas como inmigrantes, relacionadas con nuestras carreras profesionales, nuestro espíritu de emprendimiento y nuestras vivencias como padres y esposos. Queremos ofrecer espacios de discusión, ideas que inspiren y lecciones aprendidas que ayuden en la búsqueda de una vida mas balanceada entre lo individual, laboral y familiar.
      </blockquote>
        <ul>
          <li>
      <%= link_to "Podcast", "http://bettervida.net/podcast/", target: "_blank" %>
             <ul>
               <li>
      <%= link_to "001 – Quienes Somos", "http://bettervida.net/quienes-somos-bv001/", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "004 – Educación Gratuita en Linea", "http://bettervida.net/educacion-gratuita-en-linea-bv004/", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "007 – Lo que usted no sabe sobre las posibilidades de emigrar a los Estados Unidos", "http://bettervida.net/007-lo-que-usted-no-sabe-sobre-las-posibilidades-de-emigrar-a-los-estados-unidos/", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "009 – Día de Acción de Gracias y Viernes Negro", "http://bettervida.net/009-dia-de-accion-de-gracias-y-viernes-negro/", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "016 – La Importancia de tener un Perfil en LinkedIn", "016 – La Importancia de tener un Perfil en LinkedIn", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "021 – ¿Cómo se hace un podcast de Bettervida?", "http://bettervida.net/021-como-se-hace-un-podcast-de-bettervida/", target: "_blank" %>
                 
               </li>
               <li>
      <%= link_to "102 – LinkedIn Perfil Gratuito o Premium?", "http://bettervida.net/102-perfil-gratuito-o-premium/", target: "_blank" %>
                 
               </li>
             </ul>
          </li>
        </ul>
      </li>
      <li>TED en español
      <p>On youtube: 
      <%= link_to "youtube TED en español", "https://www.youtube.com/channel/UCshVTOdmZLdLj8LTV1j_0uw", target: "_blank" %>
      </p>
      <p>Available also as podcast 
      <%= link_to "TED en Español Podcast", "https://www.ted.com/podcasts/ted-en-espanol", target: "_blank" %>
      </p>
          <ul>
            <li>
      <%= link_to "Cómo aprender una lengua y contribuir a la sociedad | Luis von Ahn", "https://www.youtube.com/watch?v=lt7yZB92McM", target: "_blank" %>
            </li>
          </ul>

      </li>
    </ul>
  </li> 
</ul>
<ul class="list-group">
  <li class="list-group-item">
  <h3>Spanish Televison (available on Internet and roku)  with news, films, series</h3> 
    <ul>
      <li>
      <%= link_to "américatevé", "https://www.americateve.com", target: "_blank" %>
        <ul>
           <li>
             <%= link_to "américatevé live (en vivo)", "https://www.americateve.com/vivo", target: "_blank" %>
           </li>
        </ul>
      </li>
    </ul>
  </li> 
</ul>
<br>
<p>Please also see:<br>
<span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden=true></span> Spanish activities, which are only available in Northern California:<br> <%= link_to "In person: classes, meetup groups, etc.", lugaresdereunion_path %> </p>

<br>
<span class="glyphicon glyphicon-asterisk" style="color:red" aria-hidden=true></span> Items with a red asterisk are highly recommended.<br> </p>
</div>
