<div class="blog-post">
  <% if false %>
  <h2 class="blog-post-title">Links to favorite German websites.</h2>
    <p class="blog-post-meta date-hidden">Samstag, 30. Juli 2016 <a href="mailto:jimoser@mac.com">Jim Oser</a></p>
  <% end %>
<h2>California Spanish Groups</h2>
<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Lake Tahoe Community College Intensive Spanish Summer Institute", "http://www.ltcc.edu/issi", target:"_blank" %>
  <p>
  If you live in California, you might find this a bargain.
  </p>
  <p>
  Lake Tahoe Community College Intensive Summer Institute. 500 people show up at Lake Tahoe every summer for one week to learn Spanish.
  </p>
  <p>
  If you happen to be a California resident, this is a great bargain, because you pay resident community college fees.
  </p>
  <p>
  If you live outside of California or outside of USA, then this might not be such a good deal.
  </p>
  <p>
  Classes are Monday, July 29 - Friday, August 2, 2024. Registration is open. 
  </p>




  </li>
</ul>
  <ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Conversation Club in Spanish at Novato Library", "https://marinlibrary.bibliocommons.com/events/646ec37410d9b04ac6f27b34", target: "_blank" %>
  <p>
   Meets from 11 AM - 12:30 PM at the Novato Library on Tuesdays.
  </p>
      <address>
        Novato Library<br>
        1720 Novato Blvd.<br>
        Novato<br>
    </address>
    <p>
    Type of Event: Workshops & Classes<br>
    Audience:  Adults, Spanish/Bilingual<br>
    Summary: Would you like to practice your Spanish conversation skills?<br>
    </p>
    <p>
    Be a part of this weekly free program. At every class there will be a facilitator from the Novato Library. You will enjoy practicing Spanish conversation with your peers.</p>
    <p>
    For more information, please call 415-473-2050.
    </p>
    <p>
    Sponsored by the County of Marin and Friends of the Marin County Free Library.
    </p>
  </li>
  </ul>
  <ul class="list-group">
  <li class="list-group-item">
  Intercambio Marin
  <p>10:30 a.m. (some Saturdays)  Venetia Valley--177 N. San Pedro en San Rafael.
  Subject to change.
  </p>
  <p>
  Contact 
  <%= link_to "Eric Bindelglass", "mailto: ebindelglass@hotmail.com", target: "_blank" %>
  to get on email list. 
  </p>
  </li>
</ul>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "Whistlestop Tuesday Spanish classes", "https://whistlestop.org/classes/multicultural-programs/language-classes/", target: "_blank" %>
      <p>
        <address>
          Whistlestop<br>
          930 Tamalpais Avenue<br>
          San Rafael, CA 94901<br>
        </address>
      </p>
      <ul>
        <li>
          <p>
          New Beginning Spanish<br>
          Tuesdays, 3-4 pm<br>
          $3/5 per class<br>
          Caboose 2<br>
          Instructor: Carol Costa<br>
            <p>
            Have you always wanted to learn conversational Spanish? Here’s your chance. No registration required. More advanced? Carol Costa offers a drop-in intermediate class Tuesdays from 1-3pm.
            </p>
          </p>
        </li>
        <li>
          <p>
          Intermediate Spanish:<br>
          Tuesdays, 1-3 pm<br>
          $2/3 per class<br>
          No need to preregister; drop-ins welcome.<br>
          Caboose 2<br>
          Instructor: Carol Costa<br>
          </p>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Mill Valley Library Spanish Conversation Group", "http://www.millvalleylibrary.org/events/cals.htm", target: "_blank" %>
  </p>Meets Wednesdays at 1:15 PM - 2:15 PM
  <p>
      <address>
        Mill Valley Library<br>
        375 Throckmorton<br>
        Mill Valley<br>
    </address>
  </p> 
  <p>
  To get on the email list, contact: 
  <%= link_to "Roy Mash", "http://roymash.com/contact.php", target: "_blank" %>
  </p>
  </li>
  </ul>
  <li class="list-group-item">
  <%= link_to "Whistlestop Friday Afternoon Conversation Group", "https://whistlestop.org/spanish-club/", target: "_blank" %>
  <blockquote>
    <p>
    Spanish Club - Club de Español
    </p>
    <p>
    Fridays, 1:30 to 3:00pm
    </p>
    <p>
    Donations appreciated.
    </p>
    <p>
    Call 456-9062 X100 for information.
    </p>

    <p>
    A class that focuses on Spanish literature. Attendees practice reading comprehension and discussion in Spanish.

    </p>
    <p>
    Viernes, 1:30 a 3:00pm
    </p>

    <p>
    Se agradecen donaciones
    </p>
    <p>

    Contacto para más información: 415-456-9062
    </p>

    <p>
    Una clase que enfatiza la literatura en Español.
    Participantes practican comprensión de lectura y discusión en español.
    </p>
  </blockquote>
  </li>
  <ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Marin Spanish Meetup Group", "https://www.meetup.com/Guerneville-Bilingual-Spanish-English-Meetup/", target: "_blank" %>
  <p>Lunchtime Meetup to practice Spanish! You don't need to arrive at 11:30 or stay till the end. If you come late, please give us a chance to find an opening to welcome you. Our goal is to maximize participation. Validated parking is available if you park in the public parking garage on A St. between Third and Fourth Streets. This free group is open native speakers and learners of all levels, though a small contribution of a dollar or two is appreciated to offset Meetup’s organizing fees.</p>
  <p>
  ¡Nos vemos!
  </p>
  <p>
  </p>Often meets on Fridays at 11:30 AM at:
      <address>
        Aroma Cafe<br>
        1122 4th St.<br>
        San Rafael<br>
    </address>
  </li>
  </ul>
<ul class="list-group">
  <li class="list-group-item">
  <%= link_to "Petaluma Spanish-English Language Meetup", "https://www.meetup.com/Petaluma-Spanish-English-Language-Meetup/", target: "_blank" %>
  <p>A monthly weekend meetup for Spanish and English speakers to meet up and practice both languages. We could meet at a cafe, restaurant, or bar, and maybe also do activities together.</p>
  <p>
  Una reunión mensual durante los fines de semana para hablantes de español e inglés para reunirse y practicar ambos idiomas. Podríamos encontrarnos en una cafetería / restaurante / bar, y quizás también hacer actividades juntos.
  </p>
  </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "San Francisco Spanish-Language Meetup Group", "https://www.meetup.com/Spanish-Language-Meetup/", target: "_blank" %>
      <p> Most meetings are in San Francisco.</p>
      <p> Occasionally there will be a meeting in Marin or somewhere else outside of San Francisco. </p>
      <p> Meetings are at multiple locations on various days. </p>
      <p> Over 5000 members!</p>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to "Peninsula Spanish Language Meetup Group", "https://www.meetup.com/Peninsula-Spanish/", target: "_blank" %>
      <p>
      Also sometimes co-listed as a  
      <%= link_to "Peninsula Spanish Duolingo Group", "https://events.duoling.com", target: "_blank" %>
      </p>
      <p>Saturday mornings. Confirm with leader for current location. </p>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
    <%= link_to "meetup.com", "https://www.meetup.com", target: "_blank" %>
    <p>Search: <blockquote>Spanish</blockquote> for other Spanish meetup groups in your area.
    </p>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
    <p>College of Marin</p>
      <ul>
        <li> <%= link_to "College of Marin Spanish classes for credit", "http://www1.marin.edu/schedule", target: "_blank" %>
        </li>
        <li>
      <%= link_to "College of Marin Community Education Spanish classes not for credit", "https://marincommunityed.augusoft.net/index.cfm?method=ClassListing.ClassListingDisplay&int_category_id=2&int_sub_category_id=9&int_catalog_id", target: "_blank" %>
        </li>
        <li>
      <%= link_to "ESCOM Spanish", "http://escom.marin.edu/clubs/listings", target: "_blank" %>
        <p>
          <blockquote>
            SPANISH CLUB:

            Every Thursday, 2:00 - 3:00 p.m., Physical Education Bldg, Room 91, KTD.

            Lucy Wait, mariawt47@gmail.com or

            Libby Ginsberg, (415) 454-6485, or

            Roberta Schwarz, (415) 435-3540, reschwarz@sbcglobal.net
          </blockquote>
          Contact Roberta Schwarz to verify time and location of club.
        </p>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
    <p>Roy Mash's Spanish Resources in Marin</p>
      <ul>
        <li> <%= link_to "Spanish Resources in Marin", "http://roymash.com/espanol/marin_resources.php", target: "_blank" %>
        </li>
      </ul>
    </li>
  </ul>
</div>

<p>Please also see:<br>Spanish online activities, which are available on the Internet from anywhere in the world:<br> <%= link_to "Online: classes, videos, etc.", espanol_path %> </p>
<br>

