<h2>Jim Oser's duolingo posts</h2>

<ul class="list-group">
  <li class="list-group-item">
    <h3>Youtube channels for listening skills</h3>
    <ul>
      <li> <%= link_to "http://forum.duolingo.com/comment/37615608$comment_id=37628396", "http://forum.duolingo.com/comment/37615608$comment_id=37628396", target: "_blank" %></li>
      <li>April 8, 2020</li>
      <li>
        <%= markdown ( render partial: "duolingo_37615608$comment_id=37628396" ,  formats: [:md] )  %>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <h3>Testing out of levels--initial test needs improvement</h3>
    <ul>
      <li> <%= link_to "https://forum.duolingo.com/comment/33795745$comment_id=33802850", "https://forum.duolingo.com/comment/33795745$comment_id=33802850", target: "_blank" %></li>
      <li>August 26, 2019</li>
      <li>
        <%= markdown(render partial: "duolingo_33795745$comment_id=33802850" ,  formats: :md ) %>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <h3>The Duolingo Spanish Podcast is back for Season 5!</h3>
    <ul>
      <li> <%= link_to "https://forum.duolingo.com/comment/33653189", "https://forum.duolingo.com/comment/33653189", target: "_blank" %></li>
      <li>August 16, 2019</li>
      <li>
        <%= markdown (render "duolingo_33653189" ,  formats: :md) %>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
  <h3>Spanish Family-2 strength from 75% to 100%</h3>
  <ul>
    <li> <%= link_to "https://forum.duolingo.com/comment/31937527", "https://forum.duolingo.com/comment/31937527", target: "_blank" %></li>
    <li>April 28, 2019, 2:00 PM</li>
    <li>  
      <%= markdown( render "duolingo_31937527" ,  formats: [:md]) %>
    </li>
   </ul>
  </li>
  <li class="list-group-item">
    <h3>youtube "Introducting Duolingo Push" has closed captions</h3>
    <ul>
      <li> <%= link_to "https://forum.duolingo.com/comment/31539312$comment_id=31541817", "https://forum.duolingo.com/comment/31539312$comment_id=31541817", target: "_blank" %></li>
      <li>April 1, 2019, 11:45 AM</li>
        <%= markdown(render "duolingo_31539312",  formats: :txt)  %>
      </li>
    </ul>
  </li>  
  <li class="list-group-item">
    <h3>A caballo regalado no se le miran los dientes.</h3>
    <ul>
      <li> <%= link_to "https://forum.duolingo.com/comment/31467099", "https://forum.duolingo.com/comment/31467099", target: "_blank" %></li>
      <li>March 27, 2019, 11:15 AM</li>
      <li>
        <%= markdown( render "duolingo_31467099" ,  formats: :md) %>
      </li>
    </ul>
  </li>
  <li class="list-group-item">
    <h3>Recommendations</h3>
    <ul>
      <li>
        <%= markdown( render "recomendaciones" ,  formats: :md) %>
      </li>
    </ul>
  </li>
</ul>  
