%div{:class => "blog-post"} 
  %h2 Roma
  %ul{:class => "list-group"}
    %li{:class => "list-group-item"}
      %h3 ¿Has visto la película de Netflix Roma? 
      %p
      No tiene nada que ver con la ciudad de Roma, sino que se trata del barrio Roma-Condesa en la Ciudad de México en la década de 1970.
      %p
      Mi esposa y yo lo vimos. Tuvimos problemas para entender de qué se trataba.
      %p
      Al día siguiente, fui a YouTube y busqué el nombre de la actriz principal, Yalitza Aparicio, y encontré descripciones y entrevistas sobre la película tanto en inglés como en español.
      %p
      Ahora, estoy intrigado por la película.
      %p
      Está nominado a 10 premios de la academia.
      %p
      Está disponible en Netflix.
      
  %ul{:class => "list-group"}
    %li{:class => "list-group-item"}
      %h3 ¿Por qué se ven tantos aviones en la película?
      %p 
      De: 
      = link_to "\"Roma\" de Cuarón en los Oscars 2019: 5 claves para entender el aclamado filme del director mexicano con la que vuelve a conquistar México y medio mundo", "https://www.bbc.com/mundo/noticias-46532625", target: "_blank" 
      %p
      En lugar de utilizar estudios de filmación, Cuarón decidió filmar su película en una casa real de la colonia Roma, que fue rediseñada meticulosamente para que se pareciera al lugar donde creció.
      %p
      La Roma se encuentra cerca de uno de los corredores aéreos por el que pasan los cientos de aviones que cruzan cada día los cielos de la Ciudad de México para aterrizar en su aeropuerto internacional, por lo que son una de las vistas obligadas del cielo del barrio... y de casi toda la ciudad.
      %p
      De ahí que los aviones sean una presencia en la película: no solo con su paso abre y cierra la cinta, sino que son como un leitmomotiv a lo largo de la trama.
      %p
      Pero esto es solo una parte de la explicación.
      %p
      Por qué la geografía de Ciudad de México es un gran desafío para la construcción de cualquier aeropuerto
      %p
      Por qué es tan urgente un nuevo aeropuerto para la ciudad con más conexiones aéreas de América Latina
      %p
      Hay también un hecho autobiográfico: Cuarón soñaba con ser piloto cuando era pequeño (de hecho, el actor que interpreta al director cuando niño se lo cuenta a su nana) y estaba fascinado con los aviones.
      %p
      Y además tienen una connotación simbólica.
      %p
      Según ha contado Cuarón, las aeronaves cruzando el cielo de México le sirvieron para trasmitir también la idea de que las situaciones por las que atravesaban los personajes eran transitorias y que había un universo más allá de sus contextos personales.

  %ul{:class => "list-group"}
    %li{:class => "list-group-item"}
      %h3 Why do we see airplanes in the film? 
      %p
      From
      = link_to  "‘Roma’ Director Alfonso Cuarón On How His Most Personal Film Became His Biggest Career Challenge – Venice Q&A", "https://deadline.com/2018/08/roma-alfonso-cuaron-venice-film-festival-netfl    ix-interview-1202455061/", target: "_blank"
      %p
      The movie opens with an airplane flying across the sky, reflected in a puddle of water. There are other planes throughout the movie. What’s the significance?
      %p
      The thing is, because the film was, in so many ways, dealing with memory, but from my present, it had to do with my understanding of life today and my concerns; the thematic concerns that I have. A lot of that information is told more symbolically than overtly.
      %p
      The planes work not so much in a thematic way, but for me they work in different ways. One is the transient situation. When they are there, things keep on going; there’s a universe that is broader than the life that [these characters] have.
      %p
      On the other hand, they represent the constant presence of a modernity. A technological world that surrounds these characters and is in stark contrast to the shanty towns elsewhere. As humans, we have an amazing arc of technological development, but ethically we fluctuate.
      %p
      The other, more metaphorical aspect of it is, this is a film that begins by looking at the ground. When the water comes in [in the first shot], you see the sky, but only as a reflection. And at the end, it finishes looking up at the sky. It’s that thing of the impossibility that there’s this metal object flying up there. It is the reflection of that impossibility that can happen when you try to come to terms with life.
      %p
      There’s no straight answer for that, you know!
  %ul{:class => "list-group"}
    %li{:class => "list-group-item"}
      %h3 Videos de youtube sobre la película en español 
      %ul 
        %li
          = link_to "Yalitza Aparicio reacciona a su nominación al Oscar | Al Rojo Vivo | Telemundo", "https://youtu.be/M4ie6BMNXac" , target: "_blank"
          %p El momento fue registrado y se ha viralizado en redes. La actriz es la protagonista de Roma, la película que ha arrasado con sus nominaciones en Los Oscar.
        %li
          = link_to "ROMA de Cuarón OPINIÓN EXPRESS +++SIN SPOILERS+++ Crítica PROFESIONAL", "https://youtu.be/AuDqcimoRis" , target: "_blank"
          %p Crítica profesional de la película de Alfonso Cuarón de 2018.

  %ul{:class => "list-group"}
    %li{:class => "list-group-item"}
      %h3 Videos de youtube sobre la película en inglés.
      %ul
        %li
          = link_to "Marina de Tavira & Yalitza Aparicio on Movie Roma", "https://www.youtube.com/watch?v=XcN7Z4iVN5w" , target: "_blank"
          %p Marina and Yalitza talk about starring in Roma directed by Alfonso Cuaron, being nominated for Golden Globes, Oscar buzz for the movie, Yalitza having never acted before and auditioning on a whim, and Guillermo translates for Yalitza. 
          = link_to "'Roma' Star & Best Supporting Actress Nominee Marina de Tavira | Oscars 2019 | Entertainment Weekly", "https://youtu.be/8jzSTnz-KJM" , target: "_blank"
          %p Netflix's 'Roma' star and Academy Award Best Supporting Actress nominee Marina de Tavira opens up about the film. 
          = link_to "Alfonso Cuarón Kept Roma's Script a Secret from Cast and Crew During Filming", "https://www.youtube.com/watch?v=NXD2VKjwB0Y" , target: "_blank"
          %p Alfonso Cuarón breaks down how the memories of a woman who raised him inspired his critically acclaimed film Roma and how his reluctant lead had to Google him before accepting the role 
       

